body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  min-width: 375px;
}

.menu_main img {
  width: 214px;
}
a:hover {
  text-decoration: none;
}
.menu_up {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  justify-content: flex-end;
  color: white;
  height: 40px;
  background-color: #325ca0;
  width: 100%;
}

.menu_up div {
  margin-right: 40px;
  margin-bottom: 0px;
}

.menu_up p {
  margin: 0px;
}

.menu_up img {
  width: 20px;
  margin-right: 10px;
}

.menu_up .phone img {
  width: 20px;
}

#img2 {
  display: none;
}

a :hover {
  text-decoration: none;
}

.menu_main {
  height: 46px;
  position: relative;
  margin: 29px 0px 26px 0px;
  font-weight: bold;
}

.menu_main img {
  float: left;
  margin-left: 5%;
}

.menu ul {
  list-style: none;
  text-align: right;
  margin-right: 30px;
}

.menu li {
  display: inline;
  padding: 14px 35px 13px 0px;
  letter-spacing: 1.4px;
  font-size: 14px;
  font-weight: bold;
  color: #343b43;
  opacity: 1;
}

#blu_button,
#main_blu_button {
  width: 216px;
  height: 46px;
  border-radius: 40px;
  background: #53c4ff 0% 0% no-repeat padding-box;
  border: none;
  padding: 12px 31px 14px 31px;
  color: white;
  letter-spacing: 1.4px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.main_img img {
  width: 100%;
  opacity: 0.48;
  height: auto;
}

.main_img {
  background-color: #2d3239;
  width: 1256px;
  margin: auto;
  min-width: 347px;
  position: relative;
}

.main_header {
  position: absolute;
  left: 10%;
  top: 25%;
  z-index: 10;
}

h1 {
  padding-bottom: 20px;
  padding-left: 40px;
  font-size: 51px;
  font-weight: 800;
  line-height: 53.49px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
#it_blue {
  color: #53c4ff;
}
.main_buttons {
  margin-top: 20px;
}
#transparent_button {
  width: 216px;
  height: 46px;
  border-radius: 40px;
  background: transparent;
  border: #53c4ff solid 2px;
  padding: 11px 31px 14px 31px;
  color: white;
  letter-spacing: 1.4px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}
/* ask_services */
.container_ask_services {
  background-color: #1a2a44;
  color: white;
  margin-top: -3px;
}
.ask_services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 47px;
  padding-bottom: 50px;
}

.manage {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.managed_services,
.demand_services {
  max-width: 458px;
}
.managed_services {
  margin-right: 26.5px;
  max-width: 470px;
  padding-left: 10px;
}
.demand_services {
  margin-left: 26.5px;
  max-width: 470px;
  padding-right: 10px;
}
.manage_h {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.manage_p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 60px;
}
#more1 input,
#more2 input,
#more3 input,
#more4 input,
#more5 input,
#more55 input,
#more56 input {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  border-radius: 0px;
  color: #325ca0;
  border-bottom: solid 3px #325ca0;
  padding: 0;
  position: absolute;
  top: 167px;
  right: 73px;
}
/* .about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  height: 400px;
} */
.pos {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
}

.about_text {
  margin-top: 100px;
  width: 451px;
  height: 214px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0px;
  color: #343b43;
  opacity: 1;
  line-height: 25px;
}

.we_are_here {
  line-height: 70px;
  font-size: 56px;
  font-weight: 300;
  opacity: 1;
  text-align: left;
  color: #343b43;
  width: 473px;
  height: 149px;
}

.service {
  height: 650px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.service_foto img {
  width: 700px;
  height: 650px;
}

.service_foto {
  height: 650px;
}

.service_text {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #325ca0;
  color: white;
  padding-left: 90px;
  padding-right: 90px;
}

.service_text p {
  padding-bottom: 35px;
  padding-top: 46px;
  line-height: 25px;
}

.service_text h2 {
  font-size: 32px;
  font-weight: 100;
  padding-top: 10px;
}

.service_choose {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 170px;
}

.our_service_tittle {
  padding: 71px 0 7px 0;
  line-height: 70px;
}

.our_service_tittle h2 {
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 22px;
  color: #343b43;
}
.our_service_tittle p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}
#call_to_action1 {
  font-family: Open Sans;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}
.icon {
  height: 85px;
  width: 41px;
}

.white_block {
  height: 100px;
  background-color: white;
}

.service_choose div {
  font-size: 14px;
  /* color: #f3f6fb; */
}

#email_modal img {
  margin-right: 10px;
}

.service_choose input,
.service_choose_adapt input {
  color: #325ca0;
  font-weight: 600;
}

#more p {
  color: #325ca0;
  font-weight: bold;
  color: #325ca0;
}
#more {
  border-bottom: #325ca0 solid 1px;
}

.call_to_action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 151px;
  width: 100%;
  background-color: #325ca0;
}

.call_to_action p {
  padding-right: 34px;
  margin-bottom: 0;
  color: white;
  font-family: Open Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

footer {
  height: 254px;
  background-color: #243755;
  color: white;
}

.menu_ul {
  list-style: none;
  text-align: right;
}

.menu_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 100px;
  text-align: left;
}

.menu_footer li {
  display: inline;
  padding: 14px 35px 13px 50px;
  letter-spacing: 1.4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

.footer_logo img {
  margin-bottom: 15px;
  line-height: 24px;
  padding-left: 50px;
}

.footer_logo p {
  padding-left: 50px;
}

.all_right p {
  color: #61799f;
  padding-right: 30px;
}

.all_right {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 20px;
}

a {
  color: #61799f;
}

footer,
.call_to_action,
.service_choose,
.our_service_tittle,
.service,
.about,
.main_img,
header {
  width: 100%;
  margin: 0px;
}

input,
input[type="email"] {
  color: #325ca0;
  border: none;
  background-color: white;
  font-size: 14px;
}

input,
input[type="email"] :active {
  outline: none;
}

#more1 img,
#more2 img,
#more3 img,
#more4 img,
#more5 img,
#more6 img,
#more7 img,
#more8 img,
#more9 img,
#more10 img,
#more11 img,
#more12 img,
#more55 img,
#more56 img {
  width: 8px;
}

#serv1,
#serv2,
#serv3,
#serv4,
#serv5,
#serv55,
#serv56 {
  padding: 0 10px;
  width: 203px;
  height: 233px;
  min-width: 189px;
  border: solid 3px #325ca0;
  margin: 0 10.5px 0 10.5px;
}
/* #serv55 p {
  padding-top: 30px;
} */

#serv1 p,
#serv2 p,
#serv3 p,
#serv4 p,
#serv5 p,
#serv55 p,
#serv56 p {
  padding-top: 15px;
}

#block1,
#block2,
#block3,
#block4,
#block5,
#block55,
#block56 {
  display: none;
  max-width: 1100px;
  text-align: left;
  border-radius: 5px;
  background-color: #f3f6fb;
  padding: 30px;
  position: relative;
  border: 1px solid #325ca0;
  margin: 0 auto 74px auto;
}

#block1 p,
#block2 p,
#block3 p,
#block4 p,
#block5 p,
#block55 p,
#block56 p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  max-width: 1035px;
}

/* #block1 h4,
#block2 h4,
#block3 h4,
#block4 h4,
#block5 h4,
#block55 h4 {
  font-size: 18px;
  color: #325ca0;
  padding-bottom: 35px;
} */

.closebtn {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 23px;
  height: 23px;
  font-size: 32px;
  opacity: 0.3;
  cursor: pointer;
}

.close:hover {
  opacity: 1;
}

.service_choose_adapt {
  display: none;
}

.btn-primary {
  color: #fff;
  background-color: #243755;
  border-color: #243755;
}

#submit_modal {
  margin-left: 2px;
}

.service_choose_adapt {
  display: none;
}

input,
input[type="email"][type="text"],
input,
input[type="email"][type="tel"],
textarea {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

textarea {
  height: 100px;
  max-height: 140px;
  width: 340px;
  margin-top: 8px;
  margin-left: 45px;
  background-color: #f8f8f8;
  border: none;
  padding-left: 10px;
  color: black;
}

.col-5 {
  color: white;
  background-color: #325ca0;
}

.col-6 input,
input[type="email"] {
  background-color: #f8f8f8;
  width: 340px;
  padding: 10px;
  height: 40px;
  margin: 8px 45px;
  color: black;
}

.invalid {
  border-color: red;
}

.col-6 h2 {
  color: #343b43;
  padding-bottom: 20px;
}

.col-5 h6 {
  padding: 200px 0 40px 35px;
  font-size: 20px;
  text-align: left;
}

.col-5 p {
  font-size: 16px;
  padding-left: 35px;
  text-align: left;
}

.col-5 .phone {
  padding-top: 135px;
  margin-bottom: 0px;
  font-size: 13px;
}

.col-5 .phone img {
  width: 18px;
}

.modal_adapt .phone img {
  width: 18px;
  margin-right: 10px;
}

#email_modal {
  font-size: 14px;
  padding-bottom: 0px;
}

.col-5 img {
  margin-right: 10px;
}

.modal-content {
  height: 601px;
}

.modal-header {
  width: 400px;
  border: none;
  margin-bottom: 50px;
}

.modal-footer {
  border-top: none;
  margin-left: 25px;
  padding-right: 0px;
}

.close {
  font-weight: 400;
  font-size: 3em;
}

.btn-primary {
  width: 400px;
  background-color: #53c4ff;
  color: white;
  border-radius: 40px;
  border: none;
}

.row,
.col-5 {
  height: 650px;
}

.modal_adapt {
  display: none;
}

.error_modal {
  height: 50px;
  width: 100%;
  color: #d50f0f;
  padding-bottom: 40px;
  font-size: 14px;
}

.invalid {
  border-color: #d50f0f;
}

.col-6 {
  max-width: 52%;
}

.modal-content {
  height: 650px;
}

.thankyou {
  display: none;
  background-color: #325ca0;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  z-index: 1;
  width: 100%;
}

.thankyou .email {
  font-size: 14px;
}

.thankyou h6 {
  padding-bottom: 30px;
  font-size: 32px;
}

.thankyou p {
  font-size: 16px;
}

#warning {
  padding: 40px 90px;
  font-size: 14px;
}

/* NomadTechy (about) */

.container_it {
  margin: 0 auto;
}
#nomad_photo_adapt {
  display: none;
}
.nomadtechy {
  display: flex;
  flex-direction: row;
  max-width: 1281px;
  margin: 40px auto;
}
.nomad_photo {
  max-width: 640px;
}
.nomad_photo img {
  max-width: 640px;
}
.nomad_text {
  padding: 115px 95px;
}
.nomad_text h4 {
  max-width: 400px;
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 34px;
}
.nomad_text p {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
}
/* industries */
.industries {
  margin: 0 auto 80px;
  max-width: 1100px;
}
.industries h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  margin-bottom: 39px;
}
.industries_all {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}
.industries_block {
  height: 193px;
  width: 173px;
  border-radius: 8px;
  background-color: #f3f6fb;
  position: relative;
  margin: 10px 3px;
}
.industries_block:hover {
  box-shadow: 0 0 50px #3a8ab6 inset;
}
.inside {
  margin-top: 55px;
  padding: 0 20px;
}
.inside img {
  margin-bottom: 13px;
}

@media all and (max-width: 1366px) {
  .main_img {
    width: 100%;
  }

  /* .about {
    width: 100%;
  } */

  .menu_main {
    width: 100%;
  }

  .main_img {
    margin: 0px;
  }

  .menu_main img {
    margin-left: 30px;
    margin-right: 20px;
  }

  .service {
    width: 100%;
    height: 650px;
    height: auto;
    margin-right: 0px;
  }
}

@media all and (max-width: 1230px) {
  .service_text h2 {
    font-size: 26px;
  }

  .service_text p {
    font-size: 16px;
  }
}
@media all and (max-width: 1220px) {
  #block1,
  #block2,
  #block3,
  #block4,
  #block5,
  #block55 {
    max-width: 880px;
  }
}
@media all and (max-width: 1180px) {
  .nomadtechy {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .nomad_text p {
    max-width: 450px;
  }
  .main_header {
    top: 15%;
  }
  h1 {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  /* #block1,
  #block2,
  #block3,
  #block4,
  #block5,
  #block55 {
    padding-left: 140px;
  } */

  /* #serv3 p,
  #serv4 p,
  #serv5 p,
  #serv55 p {
    padding: 30px 0px;
  } */

  #serv2,
  #serv3,
  #serv4,
  #serv5,
  #serv55,
  #serv56 {
    min-width: 170px;
  }
}

@media all and (max-width: 1070px) {
  .closebtn {
    right: 30px;
  }

  #block1,
  #block2,
  #block3,
  #block4,
  #block5,
  #block55,
  #block56 {
    padding-left: 70px;
  }

  .service_foto img {
    width: 500px;
  }

  .service_text h2 {
    font-size: 24px;
  }

  .about_text p {
    font-size: 14px;
  }

  .about_text {
    padding: 0 50px;
  }

  .we_are_here {
    font-size: 48px;
    padding: 0 50px;
  }
}

@media all and (max-width: 1000px) {
  .main_buttons {
    margin-top: 0;
  }
  h1 {
    font-weight: 800;
    font-size: 30.0534px;
    line-height: 32px;
  }
  #main_blu_button,
  #transparent_button {
    width: 112px;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.12em;
    text-align: center;
    height: 27.18px;
    padding: 0;
  }

  .service,
  .service_foto,
  .service_foto img {
    height: auto;
  }

  .modal-header {
    margin-bottom: 10px;
  }

  .error_modal {
    padding-left: 50px;
  }

  #submit_modal {
    margin-right: 45px;
  }

  .modal-footer button {
    margin-left: 0px;
  }

  #email_modal img,
  #email_modal2 img {
    margin-right: 10px;
  }

  .modal-footer {
    padding: 0px;
  }

  .modal-footer .btn-primary {
    margin-right: 50px;
    margin-top: 15px;
    width: 340px;
  }

  .modal-footer {
    margin-left: 0px;
  }

  .modal-header .close {
    padding: 0px;
    margin: -1rem -5rem -1rem auto;
  }

  .col-6 {
    height: 668px;
    width: auto;
    max-width: 80%;
    text-align: left;
  }

  .col-6 h2 {
    font-size: 26px;
  }

  .row {
    width: 700px;
  }

  .col-6 h2,
  .col-6 p {
    padding: 0 45px;
  }

  .modal_adapt {
    display: block;
  }

  .col-5 {
    display: none;
  }

  .closebtn {
    right: 35px;
    top: 5px;
    font-size: 40px;
  }

  #block10,
  #block6,
  #block7,
  #block8,
  #block9,
  #block11,
  #block12 {
    display: none;
    width: 100%;
    text-align: left;
    background-color: #f8f8f8;
    position: relative;
  }

  #block6 p,
  #block7 p,
  #block8 p,
  #block9 p,
  #block10 p,
  #block11 p,
  #block12 p {
    font-size: 14px;
    line-height: 24px;
    padding: 60px 50px 32px 50px;
    width: 90%;
  }

  .service_choose {
    display: none;
  }

  .service_choose_adapt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  #serv6,
  #serv7,
  #serv8,
  #serv9,
  #serv10,
  #serv11 {
    margin-bottom: 20px;
  }

  .service_choose_adapt .icon {
    margin-bottom: 10px;
  }

  .main_header,
  .main_header2 {
    font-size: 45px;
  }

  .service,
  .service_choose,
  .about {
    flex-direction: column;
    align-items: center;
  }

  /* .about {
    padding: 33px 20px;
    height: 600px;
  }

  .we_are_here {
    padding: 33px 0px;
    margin-bottom: 40px;
  }

  .about_text {
    padding: 0 0 33px 0;
  } */

  .service_foto img {
    width: 100%;
  }

  .service_text h2 {
    font-size: 32px;
  }

  .service_text {
    padding: 30px;
  }

  .service_text p {
    font-size: 18px;
    padding: 30px 80px;
  }

  .service_text {
    padding: 50px;
    height: auto;
  }

  #serv1 p,
  #serv2 p,
  #serv3 p,
  #serv4 p,
  #serv5 p,
  #serv55 p,
  #serv56 p {
    font-size: 22px;
  }

  .service_choose input {
    font-size: 18px;
  }

  #serv1,
  #serv2,
  #serv3,
  #serv4,
  #serv5,
  #serv55,
  #serv56 {
    margin-bottom: 15px;
    text-align: center;
    height: auto;
  }

  .our_service_tittle {
    padding-bottom: 50px;
  }

  .call_to_action {
    flex-direction: column;
    height: 375px;
    padding: 0 10px;
  }

  .call_to_action p {
    padding: 0 0px 20px 0px;
    text-align: center;
  }
  #call_to_action1 {
    padding: 0 10px 20px 10px;
    text-align: center;
  }

  .menu_footer {
    flex-direction: column;
    padding-top: 48px;
    height: auto;
  }

  .menu_ul li {
    display: flex;
  }

  .menu_ul ul {
    padding-left: 0px;
  }

  .all_right p {
    background-color: #243755;

    font-size: 14px;
  }

  footer {
    height: auto;
  }
}

@media all and (max-width: 750px) {
  .menu li {
    display: none;
  }

  .main_header {
    font-size: 35px;
  }
}
@media all and (max-width: 670px) {
  .nomadtechy {
    margin-top: 0;
  }
  #nomad_photo_adapt {
    display: block;
    width: 100%;
  }
  #nomad_photo {
    display: none;
  }
  .nomad_text {
    padding: 40px 20px;
  }
}
@media all and (max-width: 630px) {
  .main_header {
    height: 224px;
    top: 33%;
  }
  #img1 {
    display: none;
  }
  #img2 {
    display: block;
    width: 100%;
    height: auto;
  }
  .ask_services {
    flex-direction: column;
    padding-left: 19px;
    padding-right: 20px;
  }

  .managed_services,
  .demand_services {
    align-self: center;
    margin-left: 0;
  }
  .demand_services {
    margin-top: 22px;
  }
  .manage_p {
    width: 235px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin-left: 60px;
  }
  .manage {
    margin-bottom: 10px;
  }
  .modal-footer .btn-primary {
    margin-right: -37px;
    margin-top: 25px;
  }

  .modal-content {
    width: 500px;
    height: 650px;
  }

  .row {
    width: 470px;
  }

  .main_header,
  .main_header2 {
    font-size: 30px;
  }

  .menu_main img {
    width: 159px;
  }

  #blu_button {
    width: 142px;
    font-size: 10px;
    height: 28px;
    padding: 0px;
    margin-top: 5px;
  }

  .we_are_here p {
    font-size: 32px;
    line-height: 40px;
  }

  /* .we_are_here {
    padding-right: 50px;
    width: auto;
  }

  .about_text {
    height: auto;
    margin-top: 0px;
    width: auto;
  }

  .about {
    height: auto;
  }

  .about_text p {
    font-size: 18px;
  } */

  .service_text {
    align-items: flex-start;
    height: auto;
  }

  .service_text p {
    text-align: left;
    padding: 20px 0px;
  }

  .service_text #blu_button,
  .call_to_action #blu_button {
    width: 216px;
    font-size: 14px;
    height: 46px;
  }

  .row {
    min-width: 375px;
  }

  #submit_modal {
    margin-right: -35px;
    margin-left: 40px;
    margin-top: 20px;
  }
}

@media all and (max-width: 500px) {
  .main_header {
    left: 20px;
  }
  h1 {
    padding-left: 0;
  }
  .main_buttons {
    margin-left: -30px;
  }
  .menu_up {
    display: none;
  }

  .modal-footer .btn-primary {
    margin-right: -115px;
  }

  .col-6 h2,
  .col-6 p {
    padding-left: 45px;
    padding-right: 0px;
  }

  #img2 {
    display: block;
  }

  #img1 {
    display: none;
  }

  .main_header2 {
    top: 35%;
  }

  .modal-content {
    width: 450px;
    height: 700px;
  }

  .row {
    width: 375px;
  }

  .modal-header .close {
    margin: -1rem -1rem -1rem auto;
  }

  .col-6 {
    width: 300px;
  }

  #submit_modal {
    margin-right: -70px;
  }
}

@media all and (max-width: 440px) {
  #submit_modal {
    margin-left: 5px;
  }

  .close span {
    margin-right: 50px;
  }

  .modal-footer .btn-primary {
    margin-right: -75px;
    margin-left: -33px;
  }

  .col-6 p,
  h2 {
    padding: 0px;
  }

  .col-6 p,
  h2 {
    padding: 0px;
  }

  .col-6 input,
  input[type="email"],
  textarea {
    margin-left: 5px;
  }

  .modal-header .close {
    margin: -1rem -1rem -1rem 6.5em;
  }
}

@media all and (max-width: 420px) {
  .main_header {
    top: 22%;
  }
  .close span {
    margin-right: 70px;
  }

  #block6 p,
  #block7 p,
  #block8 p,
  #block9 p,
  #block10 p,
  #block11 p {
    width: 98%;
  }

  .thankyou {
    padding-right: 50px;
  }

  .we_are_here {
    padding: 0 0 15px 0;
    height: 0px;
  }

  .menu_main img {
    margin-left: 15px;
    margin-right: 15px;
  }

  /* .about p {
    padding-left: 5px;
  }

  .about {
    margin: 0px;
    height: 450px;
  } */
}

@media all and (max-width: 375px) {
  .call_to_action p {
    width: 233px;
    line-height: 38px;
    padding-bottom: 35px;
  }
}

#form_err {
  color: #f00;
  text-align: center;
  display: none;
}

#submit_modal {
  display: none;
}

#my_message_email {
  display: none;
}

.thankyou {
  display: none;
  height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: #325ca0;
  font-size: 16px;
  padding-top: 50px;
}

.thankyou h6 {
  font-size: 32px;
}

.thankyou .email {
  margin-left: 20px;
  font-size: 14px;
}

.tel_email {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.phone img {
  width: 27px;
}

.thankyou .email img,
.thankyou .phone img {
  padding-right: 10px;
}

#exampleModalLong .modal-content {
  position: relative;
}

#exampleModalLong .modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

#exampleModalLong .modal-content .close span {
  z-index: 1;
}
