.swiper {
  position: relative;
  max-width: 1115px;
  height: 255px;
  padding-left: 12px;
}
.swipper-wrapper {
  width: 1150px;
}
.swiper-slide {
  flex-shrink: 0 !important;
}
.swiper-button-next {
  position: absolute;
  right: -30px;
  top: 120px;
}
.swiper-button-prev {
  position: absolute;
  left: -30px;
  top: 120px;
}
@media all and (max-width: 1220px) {
  .swiper {
    max-width: 895px;
  }
  .swiper-button-next {
    right: 70px;
  }
  .swiper-button-prev {
    left: 75px;
  }

  .swiper-wrapper {
    margin-left: 0;
  }
}

@media all and (max-width: 1120px) {
  .swiper-button-next {
    right: 20px;
  }
  .swiper-button-prev {
    left: 20px;
  }
}
@media all and (max-width: 1000px) {
  .pos {
    display: none;
  }
}
